{% extends 'libraniantemplates/libranianbase.html' %}
{% load static %}
<title>{% block title %}login{% endblock %}</title>
{% block content %}
<div class="container">

  <div class="card container" style="width: 60rem;">
    <div class="card">
        <div class="card-header" style="background-color: yellow;text-align: center; padding: 20px;">
           Login
        </div>
        {% if error %}
          {{ error }}
        {% endif %}
        <br>
      <form method="post" action="#">
         {% csrf_token %}
          <!-- <div class="form-group">
            {{ form.as_p }}
          </div>
          <button>submit</button> -->
            <div class="form-group">
              <label>Username</label>
              <p>{{ form.username }}</p>

              <!-- <label>Username</label>
              <input type="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username" value="{{ username }}"> -->      
            </div>
            <div class="form-group">
              <label>password</label>

              {{ form.password }}
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
         
    </div>
  </div>
</div>
          

<br>
<br>
<br>
{% endblock %}