{% extends 'admintemplates/adminbase.html' %}
 <title>{% block title %}borrow{% endblock %}</title>
{% block content %}
   <div>
        <div class="alert alert-info">Transaction / Borrowing</div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group pull-left">
                <label>Student Name:</label>
                <br/>
                <select class="form-control" name="student_id" id="student">
                    {% for student in students %}
                        <option value='{{ student.id }}'>{{ student.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group pull-right">
                <button name="save_borrow" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>
                    Borrow
                </button>
            </div>
            <table id="table" class="table table-stripped">
                <thead class="alert-success">
                <tr>
                    <th>Select</th>
                    <th>Book Title</th>
                    <th> Book_barcode</th>
                    <th>publisher</th>
                    <th>Available</th>
                    <th>Left</th>
                </tr>
                </thead>
                <tbody>
                {% for book, data in datas %}
                    <tr>
                        <td>
                            {% if data == -1 %}
                                <label class='text-danger'>Not Available</label>
                            {% else %}
                                <input type="hidden" name="book_id" value="{{ book.id }}">
                                <input type="checkbox" name="selector" value="{{ book.id }}">
                            {% endif %}
                        </td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.book_type }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.available }}</td>
                        <td>
                            {% if data == -1 %}
                                <center><label class='text-danger'>Not Available</label></center>
                            {% else %}
                                {{ data }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}

