{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block content %}
<div class="row col-1">
	<div class="col-md-12">
		<h2>student delete</h2>
		<form method="post">
			{% csrf_token %}
			<h4>Do you want to delete this student?</h4>
			<button class="btn btn-danger">Delete</button>



			

		</form>
			

		

	</div>
	


</div>
<br>
{% endblock %}